<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to James' Chat App</h1>
        <hr class="my-4">
        <p class="lead">Please enter a nickname below to be entered into the chat room</p>
    </div>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-md-10">
                    <input id="usr" autocomplete="off" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary form-control">TO THE CHAT</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $('form').submit(function (e) {
            e.preventDefault();
            var user = $("#usr").val();
            Cookies.set("usr", user, { expires: 7});
            console.log("Cookie set as " + user);
            window.location.replace("chat")
        })
    })
</script>